%h2.subheader Current Poll

- @poll.venues.each do |venue|
  .panel.row{id: venue.name}
    .panel.callout.large-3.columns
      = venue.name
    .panel.large-3.columns
      +
      = venue.votes.count
    .panel.large-3.columns
      %ul
        - venue.votes.each do |vote|
          %li= vote.user
    .times.panel.large-3.columns
      - venue.votes.each do |vote|
        %div.option.label
          = l vote.preferred_lunch_time, format: :short
          / = link_to vote_up

